body {
  margin: 0;
  background-color: black;
}

header{
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  margin-bottom: 10px;
  z-index: 10;
}

header a img{
  width: 80px;
  padding: auto;
  float: left;
}

nav ul{
  float: center;
  margin: auto;
  padding: 10px;
}

nav li{
  display: inline-block;
}

nav li a{
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: 40px;
  font-size: 20px;
  padding: 10px 24px;
}

nav li a:after{
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  transition: width .5s ease, background-color .5s ease;
}

nav li a:hover:after {
  width: 100%;
  background: #ffffff;
}

.active {
  background-color: #148F77;
  color: white;
}

.banner {
  height:60vh;
  background-image: url('../img/banner.jpg');
  background-size: cover;
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner:after {
  content:'';
  display: block;
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20, 143, 119, 0.6);
}

.banner h2 {
  color: white;
  z-index: 1;
  padding:20px 25px;
  border: 3px solid white;
}

section {
  padding:50px 0;
}

section h3 {
  text-align: center;
  padding:20px 0;
  color: white;
  margin-bottom: 20px;
}

.about .classes {
  padding-bottom: 100px;
}

.baner {
  height:60vh;
  background-image: url('../img/baner.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baner:after {
  content:'';
  display: block;
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(2, 67, 54, 0.6);
}

.baner h2 {
  color: white;
  z-index: 1;
  padding:20px 25px;
  border: 3px solid white;
}

.about p {
  color: white;
  word-spacing: 2px;
  line-height: 25px;
}

.marimulaibekerja {
  color: white;
  text-align: center;
  line-height: 20px;
  word-spacing: 2px;
}

.menjalaniwinningways {
  color: white;
  text-align: center;
  line-height: 20px;
  word-spacing: 2px;
}

.join {
  color: white;
  text-align: center;
  line-height: 50px;
  word-spacing: 2px;
  font-size: x-large;
}

.join p {
  color: #148F77;
  font-size: large;
}

#slider {
  width: 1000px;
  height: 230px;
  overflow: hidden;
  border: 1px solid;
  position: relative;
  }

.slide {
  width: 350px;
  height: 500px;
  float: left;
  position: relative;
  }

#slide-holder {
  width: 400%;
  position: relative;
  left: 0;
  -webkit-animation: scroller 10s infinite;
  animation: scroller 10s infinite;
  }

@-webkit-keyframes scroller {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    33% {
      -webkit-transform: translateX(-400px);
      transform: translateX(-400px);
    }
    66% {
      -webkit-transform: translateX(-800px);
      transform: translateX(-800px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}

@keyframes scroller {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    33% {
      -webkit-transform: translateX(-400px);
      transform: translateX(-400px);
    }
    66% {
      -webkit-transform: translateX(-800px);
      transform: translateX(-800px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}

body {
  font-family: sans-serif;
}

#slider {
  margin: 0 auto;
}

.slide:nth-child(1) {
  background: #c69;
}

.slide:nth-child(2) {
  background: wheat;
}

.slide:nth-child(3) {
  background: #eee;
}

.classes {
  background-color: white;
}

.box {
  color: white;
}

.box:after {
  content: '';
  display: block;
  clear: both;
}

.box .col-4 {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  float: left;
}

.icon {
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  margin:20px auto;
}

.box .col-4 {
  margin:5px 0;
}

footer {
  padding: 30px;
  color: white;
  text-align: center;
}

.footer-choose{
  background-color:rgb(0, 0, 0);
  color: #ffffff;
  text-align: center;
}

.footer-choose img{
  float: left;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 6px;
}

.footer-choose .bottom{
  display: inline-block;
}

.footer-choose .bottom .kotak ul{
  text-align: left;
}

.footer-choose .bottom .kotak ul li{
  display: block;
  margin-bottom: 10px;
  margin-right: 100px;
}

.footer-choose .bottom .kotak a{
  text-decoration: none;
  color: #ffffff;
}

.footer-choose .bottom .kotak a::after{
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  transition: width .5s ease, background-color .5s ease;
}

.footer-choose .bottom .kotak a:hover::after{
  width: 100%;
  background: #ffffff;
}